{% if page.header.hook %}
	<div class="wrapper style2 evenpart">
		<section class="container">
			<div class="row double">
				<div class="{{ (page.header.hook.right.byline.text) ? '6u' : '12u' }}">
					<header class="major">
						<h2>{{ header.hook.left.headline|raw }}</h2>
						<span class="byline {{ header.left.byline.class|replace({',': ' '}) }}">{{ header.hook.left.byline.text|raw }}</span>
					</header>
			{% if (page.header.hook.right.byline.text) %}
				</div>
				<div class="6u">
					<div class="{{ (page.header.hook.button.text) ? 'mb-2' }}">
						<h3>{{ header.hook.right.headline|raw }}</h3>
						<span class="byline {{ header.right.byline.class|replace({',': ' '}) }}">{{ header.hook.right.byline.text|raw }}</span>
					</div>
			{% endif %}
			{% if page.header.hook.button.text %}
				<div class="{{ header.hook.button.class }}">
					<a href="{{ header.hook.button.url }}" class="button mb-1">{{ header.hook.button.text|raw }}</a>
				</div>
			{% endif %}
				</div>
			</div>
		</section>
	</div>
{% elseif page.content|trim|length > 0 %}
	{{ dump('Notice: homepage markdown content not rendered because page header "hook" is missing in frontmatter.') }}
{% endif %}
