{% if header.portals %}
{% set portals = header.portals %}
	<div class="wrapper style5 portals">
		<section id="team" class="container">
			<header class="major">
				{% if portals.headline %}
					<h2>{{ portals.headline|raw }}</h2>
				{% endif %}
				{% if portals.byline.text %}
					<span class="byline color-link-secondary {{ portals.byline.class|replace({',': ' '}) }}">{{ portals.byline.text|raw }}</span>
				{% endif %}
			</header>
			<div class="row">
				{% for portal in portals.items|slice(0, 4) %}
				<div class="3u">
					<a href="{{ portal.url }}" class="image">
						<img alt="{{ portal.alt|default('') }}" src="{{ page.media[portal.thumbnail].resize(185,185).url }}?fp=4702">
					</a>
					<h3>{{ portal.title|raw }}</h3>
					<p>{{ portal.text|raw }}</p>
				</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endif %}